*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body
{
    background-color: #668699d8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 25px;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);

}

.container .left_Side
{
    position: relative;
    background-color: lightblue;
    padding: 40px;

}

.profile
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 15px;
    
}

.profile .profilePic
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profile .profilePic img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile h1

{
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
}

.contact
{
    padding-top: 5px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
    border: 4px;
    border-color: rgb(42, 128, 240);
    border-style: solid;
    
    
}

.contact ul li
{
    position: relative;
    list-style: none;
    margin: 30px 20px;
}

.contact ul li button
{
  background-color: whitesmoke;
  border-radius: 10px;
  border-width: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
}

.awards
{
    margin-top: 30px;
    text-align: center;
}

.awards h2
{
    color: rgb(42, 128, 240);
}

.awards p
{
    text-align: left;
    padding-left: 9px;
}

hr
{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 2px;
    border-width: auto;
    border-color: rgb(42, 128, 240);
}

.certifications

{
    margin-top: 30px;
    text-align: center;
    line-height: 20px;
}

.certifications h2
{
    text-transform: uppercase;
    color: rgb(42, 128, 240);
}

.certifications td
{
    text-align: left;
    font-size: 10px;
}

.certifications span
{
    font-size: 16px;
    font-weight: bold;
}

.certifications .date
{
    text-align: right;
    font-size: 10px;
}

.hobbies
{
    margin-top: 30px;
    text-align: center;
    line-height: 20px; 
}

.hobbies h2
{
    color: rgb(42, 128, 240);
}

.hobbies ul li
{
    position: relative;
    list-style: none;
    margin: 20px 20px;
}


.container .right_Side
{
    position: relative;
    background-color: whitesmoke;
    padding: 40px;
    
}

.objective h2
{
    text-align: left;
    color: rgb(42, 128, 240);
    text-transform: uppercase;
}

.work
{
    padding-top: 20px;
}

.work h2
{
    text-align: left;
    color: rgb(42, 128, 240);
    text-transform: uppercase;
}

.work .company
{
    text-align: left;
    font-weight: bold;
}

.work .date
{
    padding-left: 200px;
    font-size: 12px;
}

.work ul li
{
    margin-top: 10px;
    margin-left: 10px;
    list-style: none;
    font-size: 12px;
}

.education
{
    padding-top: 20px;
    line-height: 25px;
}

.education h2
{
    text-align: left;
    color: rgb(42, 128, 240);
    text-transform: uppercase
}

.education h3
{
    text-align: left;
    
}

.education .date
{
    padding-left: 80px;
    font-size: 12px;
}

.skills
{
    padding-top: 20px;
}

.skills h2
{
    text-align: left;
    color: rgb(42, 128, 240);
    text-transform: uppercase
}

.skills .skill

{
    font-weight: bold;
    font-size: 18px;
}

.skills p
{
    padding-bottom: 10px;
    font-size: 12px;
}

.projects
{
    padding-top: 20px;
}

.projects h2
{
    text-align: left;
    color: rgb(42, 128, 240);
    text-transform: uppercase
}

.projects h3
{
    padding-top: 20px;
    padding-bottom: 10px;
}

.languages
{
    padding-top: 20px;
}

.languages h2
{
    text-align: left;
    color: rgb(42, 128, 240);
    text-transform: uppercase
}

.lang1
{
    display: inline-block;
    vertical-align: middle;
    
    
}

.lang2
{
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    margin-left: 350px;
    
}

.languages p
{
    font-weight: bold;
}

.languages .level
{
    font-size: 12px;
    font-weight: normal;
}



